@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&display=swap");
body {
  background: url(../images/joshua-hoehne-8ZvTRSRdsOA-unsplash.jpg) center
    no-repeat fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
}
h1 {
  font-family: "Gemunu Libre", "Trebuchet MS", sans-serif;
}

.img-card {
  min-height: 200px;
  max-height: 200px;
  width: auto;
}
.img-team {
  width: 125px;
}
.img-team img {
  width: auto;
  max-width: 100%;
  max-height: 100px;
}
td {
  color: #eee;
  font-size: 1.25em;
}
.icon-back,
.icon-top {
  font-size: 1.5em;
}
.icon-top {
  position: fixed;
  bottom: 10vh;
  right: 5vw;
}
